  <section class="mainbody grid_4 prefix_4 suffix_4">
    <header>
      <h1>Login</h1>
    </header>
    <div>
      <form>
        <table>
          <tr>
            <td><label>Name</label></td>
            <td><input size="20" tabindex="1" title="Enter the login name here." type="text" value="" /></td>
          </tr>	
          <tr>
            <td><label>Password</label></td>
            <td><input size="20" tabindex="2" title="Enter login password here." type="password" value="" /></td>
          </tr>
          <tr>
            <td></td>
            <td><input size="20" tabindex="3" title="Press Enter or Click to login." type="submit" value="Login" /></td>
          </tr>
        </table>
      </form>
    </div>
  </section>